@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', 'Montserrat';
    background-color: #edf1f0;
    line-height: 1.6;
    color: #333;
}

/* Estiliza la sección "Acerca-Repositorio" para centrar su contenido */
.acerca-repositorio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
}

/* Estiliza el título dentro de "acerca-repositorio" */
.acerca-repositorio h2 {
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
}

/* Contenedor de tarjetas con distribución flexible */
.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3px;
}

/* Estilos generales para las tarjetas */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    max-width: 300px;
    text-align: center;
    flex: none;
}

/* Ajustes adicionales para las tarjetas dentro de "acerca-repositorio" */
.acerca-repositorio .card {
    border-radius: 10px;
    max-width: 320px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

/* Iconos dentro de las tarjetas */
.acerca-repositorio .card i {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: #000000;
}

/* Oculta el icono con la clase "fa-solid" */
.acerca-repositorio .card .fa-solid {
    display: none;
}

/* Estilo para los titulos de las tarjetas */
.acerca-repositorio .card h4 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}

/* Estilo para los parrafos dentro de las tarjetas */
.acerca-repositorio .card p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.7;
}

/* Estilos para el pie de página */
.site-footer {
    color: #000000;
    margin-top: 0;
    text-align: center;
    font-size: 0.9rem;
}
